body {
    background-image: url('https://giphy.com/gifs/sun-landscape-dawn-j1tK8Puk8RspqBP2cs');
    font-family: monospace;
    background-size: auto 110vh;
    height: 100vh;
  }

  h1 {
      color: white;
  }

  h2 {
      color: white;
  }
  
  li {
      font-family: monospace;
      font-size: 30px;
  }

  .menu {
    background-color: white;
  }

  .menu li {
    list-style: none;
  }

  .menu ul {
      display: flex;
      justify-content: space-around;
  }
  
  a {
    text-decoration: none
  }
  
  a:hover {
    text-decoration: underline;
  }

  .site-subtitle,
  .site-title {
      text-align: center;
  }

  
  
  
